<p id="notice"><%= notice %></p>

<h1>Loan Rates</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Rate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loan_rates.each do |loan_rate| %>
      <tr>
        <td><%= loan_rate.address %></td>
        <td><%= loan_rate.rate %></td>
        <td><%= link_to 'Show', loan_rate %></td>
        <td><%= link_to 'Edit', edit_loan_rate_path(loan_rate) %></td>
        <td><%= link_to 'Destroy', loan_rate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Loan Rate', new_loan_rate_path %>
