<!DOCTYPE html>
<html>
  <head>
    <title>CartoPretto</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="https://www.pretto.fr/favicon-32x32-7d8534c14e97608fb4e958cbc9df2fc1.png" type="image/png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
